.stock-view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.stock-view-header {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.stock-view-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
justify-content: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 1rem;
}

input {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

input:focus {
  outline: none;
}

.input-wrapper button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.table {
  width: 100%;
  height: 100%;
}

.table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-bottom: 0.5rem;
}

.table-cell {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.table-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-bottom: 0.5rem;
}

.table-header-cell {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  z-index: 1;
  background: #fff;
  font-size: 2rem;
}

#update-watched {
  width: 15rem;
}
